<ion-content [fullscreen]="true">
  <div class="alert alert-success">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam rem vero, sint, facilis voluptatem expedita fugit dolorem nostrum, exercitationem assumenda ex impedit corrupti quidem? Eos quis maiores eveniet ex magnam.
  </div>


  <div class="row">
  <div class="col-sm-3 p-2">
     <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos hic nam tenetur modi, eveniet quibusdam sint architecto minus. Quas autem illum voluptate placeat est odit adipisci culpa reprehenderit similique dolor!</p>
  </div>
  <div class="col-sm-6">
    <button class="btn btn-success">Test Success</button>
  </div>
</div>
</ion-content>
